<% layout("/layouts/boilerplate") -%>
<body>
    <h3>All Books</h3>
    <!-- <form method="GET" action="/books/new">
        <button>Create New Book</button>
    </form> -->
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let book of books) { %>
        <a href="/books/<%= book._id %>" class="text-decoration-none text-dark">
    <div class="card col" style="width:20rem">
        <img src="<%= book.image %>" class="card-img-top" alt="book_image">


        <div class="card-body">
            <p class="card-text">
                <b><%= book.title %><br></b>
                <%= book.author %>

            </p>
        </div>
    </div>
</a>
    <% } %>
</div>
  




  